
.banner {
    background-image: url('../assets/img-banner.png');
    background-size: cover;
    background-position: center;
    padding: 80px 30px;
    margin: 40px 120px 0px 120px;
    color: #495057;
    border-radius: 15px;
  }
  
  .banner h2 {
    font-size: 2em;
  }
  