.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #e3d5ca;
    border-radius: 15px;
    margin: 40px 120px 40px 120px;
    padding: 30px 30px 30px 30px;
}

.item {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.img {
    max-width: 550px;
    height: 380px;
    width: 380px;
    border-radius: 15px;
}